<div
	style="
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: black;
		position: relative;
		overflow: hidden;
	"
>
	<div
		style="
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 99;
			justify-content: center;
		"
	>
		<img src="logo.png" style="width: 200px" alt="" />
		<p style="font-size: xx-large; color: antiquewhite">Druk Cinema</p>
	</div>

	<!-- Top left circle with gradient -->
	<div
		style="
			height: 1200px;
			width: 1200px;
			border-radius: 50%;
			background: radial-gradient(
				circle at center,
				#6f1c76 0%,
				transparent 70%
			);
			position: absolute;
			top: -30%;
			left: -30%;
		"
	></div>

	<!-- Bottom right circle with gradient -->
	<div
		style="
			height: 1200px;
			width: 1200px;
			border-radius: 50%;
			background: radial-gradient(
				circle at center,
				#471ca8 0%,
				transparent 70%
			);
			position: absolute;
			bottom: -30%;
			right: -30%;
		"
	></div>
</div>
