<nav class="sidebar">
	<div class="sidebar-header">
	  <h3>FACILITY MENU</h3>
	</div>

	<ul class="sidebar-links">
		<li class="section-title">Master</li>
	  <li>
		<a routerLink="/dashboard" routerLinkActive="active" (click)="onNavClick()" [routerLinkActiveOptions]="{ exact: true }">
		  Dashboard
		</a>
	  </li>

	  <li>
		<a routerLink="/facilities" routerLinkActive="active" (click)="onNavClick()" [routerLinkActiveOptions]="{ exact: true }">My Facilities</a>
	  </li>
		<li>
			<a routerLink="/facilities/packages" routerLinkActive="active" (click)="onNavClick()">Packages</a>
		</li>

		<li>
			<a [routerLink]="['/facilities', 'attendance']" routerLinkActive="active" (click)="onNavClick()">
				Attendance
			</a>
		</li>

	  <li class="section-title">Facilitators</li>
		<li>
		<a [routerLink]="['/facilities', selectedFacilityId, 'facilitators', 'profile-management']" routerLinkActive="active" (click)="onNavClick()">
		  Profile Management
		</a>
	  </li>

	  <li class="section-title">Children</li>
		<li>
			<a routerLink="/facilities/registration" routerLinkActive="active" (click)="onNavClick()">
				Registration
			</a>
		</li>

	  <li class="section-title">Announcements</li>
	  <li>
		<a [routerLink]="['/facilities', selectedFacilityId, 'announcements']" routerLinkActive="active" (click)="onNavClick()">
		  Post Activity
		</a>
	  </li>

	  <li class="section-title">Reports & Billing</li>
	  <li>
		<a [routerLink]="['/facilities', selectedFacilityId, 'reports']" routerLinkActive="active">Invoice</a>
	  </li>
	  <li>
		<a [routerLink]="['/facilities', selectedFacilityId, 'billing']" routerLinkActive="active">Expenses</a>
	  </li>
	</ul>
  </nav>
