<nav class="sidebar">
	<div>
	  <h3>FACILITY MENU</h3>
	</div>

	<ul>
		<li class="section-title">Management</li>
		<li>
			<a routerLink="/dashboard"
			routerLinkActive="active"
			(click)="onNavClick('/dashboard')"
			[routerLinkActiveOptions]="{ exact: true }"
			>
				Dashboard
			</a>
		</li>

		<li>
			<a routerLink="/facilities"
			routerLinkActive="active"
			(click)="onNavClick('/facilities')"
			[routerLinkActiveOptions]="{ exact: true }"
			>
				My Facilities
			</a>
		</li>

		<li>
			<a routerLink="/packages"
			routerLinkActive="active"
			(click)="onNavClick('/packages')"
			>
				Packages
			</a>
		</li>

		<li>
			<a [routerLink]="['/facilitators']"
			routerLinkActive="active"
			(click)="onNavClick('/facilitators')"
			>
				Facilitators
			</a>
		</li>

		<li>
			<a routerLink="/enrollment"
			routerLinkActive="active"
			(click)="onNavClick('/enrollment')"
			>
				Enroll Child
			</a>
		</li>

		<li>
			<a [routerLink]="['/attendance']"
			routerLinkActive="active"
			(click)="onNavClick('/attendance')"
			>
				Attendance
			</a>
		</li>



	  <li class="section-title">Announcements</li>
	  <li>
		<a [routerLink]="['/post-activity']"
		routerLinkActive="active"
		(click)="onNavClick('/post-activity')"
		>
		  Post Activity
		</a>
	  </li>

	  <li class="section-title">Reports & Billing</li>
	  <li>
		<a [routerLink]="['/billing']"
		routerLinkActive="active"
		(click)="onNavClick('/billing')"
		>
			Invoice
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/expenses']"
		routerLinkActive="active"
		(click)="onNavClick('/expenses')"
		>
			Expenses
		</a>
	  </li>
	</ul>
  </nav>
