<nav class="sidebar">
	<div class="brand-container">
	  <img src="/images/logo.png" class="logo"/><span class="logo-txt">FACILITY</span>
	</div>

	<ul>
		<li>
			<a routerLink="/dashboard"
			routerLinkActive="active"
			(click)="onNavClick('/dashboard')"
			[routerLinkActiveOptions]="{ exact: true }"
			>
				<fa-icon [icon]="icons.faDashboard"></fa-icon> Dashboard
			</a>
		</li>

		<li class="section-title">Management</li>
		<li>
			<a routerLink="/facilities"
			routerLinkActive="active"
			(click)="onNavClick('/facilities')"
			[routerLinkActiveOptions]="{ exact: true }"
			>
				<fa-icon [icon]="icons.faList"></fa-icon> My Facilities
			</a>
		</li>

		<li>
			<a routerLink="/packages"
			routerLinkActive="active"
			(click)="onNavClick('/packages')"
			>
				<fa-icon [icon]="icons.faPackage"></fa-icon> Packages
			</a>
		</li>

		<li>
			<a [routerLink]="['/facilitators']"
			routerLinkActive="active"
			(click)="onNavClick('/facilitators')"
			>
				<fa-icon [icon]="icons.faFacilitators"></fa-icon> Facilitators
			</a>
		</li>

		<li>
			<a routerLink="/enrollment"
			routerLinkActive="active"
			(click)="onNavClick('/enrollment')"
			>
				<fa-icon [icon]="icons.faChild"></fa-icon> Enroll Child
			</a>
		</li>

		<li>
			<a [routerLink]="['/attendance']"
			routerLinkActive="active"
			(click)="onNavClick('/attendance')"
			>
				<fa-icon [icon]="icons.faAttendance"></fa-icon> Attendance
			</a>
		</li>

	  <li class="section-title">Announcements</li>
	  <li>
		<a [routerLink]="['/post-activity']"
		routerLinkActive="active"
		(click)="onNavClick('/post-activity')"
		>
			<fa-icon [icon]="icons.faAnnouncement"></fa-icon>Post Activity
		</a>
	  </li>

	  <li class="section-title">Reports & Billing</li>
	  <li>
		<a [routerLink]="['/billing']"
		routerLinkActive="active"
		(click)="onNavClick('/billing')"
		>
			<fa-icon [icon]="icons.faInvoice"></fa-icon> Invoice
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/expenses']"
		routerLinkActive="active"
		(click)="onNavClick('/expenses')"
		>
			<fa-icon [icon]="icons.faExpenses"></fa-icon> Expenses
		</a>
	  </li>
	</ul>
  </nav>
