<!-- Class Details -->
<h2>{{ classDetails.name }}</h2>
<div class="class-info">
    <div><strong>Age Group:</strong> {{ classDetails.ageGroup }}</div>
    <div><strong>Start Time:</strong> {{ classDetails.startTime }}</div>
    <div><strong>End Time:</strong> {{ classDetails.endTime }}</div>
    <div>
        <strong>Description:</strong>
        <p>{{ classDetails.description }}</p>
    </div>
</div>

<p class="mt-4 mb-4 text-lg font-semibold">Facilitators</p>
<p-table [value]="facilitators" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-facilitator>
        <tr>
            <td>
                <p-avatar
                    image="assets/images/choki.png"
                    styleClass="mr-2"
                    size="xlarge"
                    shape="circle"
                />
            </td>
            <td>{{ facilitator.name }}</td>
            <td>{{ facilitator.email }}</td>
            <td>{{ facilitator.phone }}</td>
        </tr>
    </ng-template>
</p-table>

<p class="mt-4 mb-4 text-lg font-semibold">Students</p>
<p-table [value]="students" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Preferred Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>
                <img [src]="student.profile" style="height: 100px" />
            </td>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>
                {{ student.preferredName }}
            </td>
            <td>
                <span
                    [ngClass]="{
                        'status-checked-in': student.status === 'Checked-in',
                        'status-checked-out': student.status === 'Checked-out',
                        'status-absent': student.status === 'Absent',
                        'status-leave': student.status === 'Leave'
                    }"
                >
                    {{ student.status }}
                </span>
            </td>
            <td>
                <p-button
                    (click)="openViewStudent(student)"
                    icon="pi pi-eye"
                    text="true"
                    siz="small"
                />
            </td>
        </tr>
    </ng-template>
</p-table>
