<p-stepper orientation="horizontal" [linear]="true" #customStepper>
    <!-- Step 1: Basic Information -->
    <p-stepperPanel header="Basic Information">
        <ng-template pTemplate="content" let-index="index">
            <div class="col-9 flex gap-2 flex-column mt-5 w-full">
                <h3 style="color: gray;">Child Information</h3>
                <div class="flex flex-column flex-grow-1 gap-2">
                    <label for="firstName">MoESD Student Code</label>
                    <div class="flex gap-2">
                        <input pInputText id="studenCode" [(ngModel)]="studentCode" class="w-full" />
                        <p-button label="Search" icon="pi pi-search" iconPos="right"
                            (onClick)="searchChild()" />
                    </div>
                </div>

                <div class="flex gap-2">
                    <div class="flex flex-column flex-grow-1 gap-2">
                        <label for="name">Name</label>
                        <input pInputText id="name" [(ngModel)]="childName" class="w-full" />
                    </div>
                    <div class="flex flex-column flex-grow-1 gap-2">
                        <label for="cid">CID</label>
                        <input pInputText id="cid" [(ngModel)]="cid" class="w-full" />
                    </div>

                </div>
                <div class="flex flex-column gap-2">
                    <label for="preferredName">Preferred Name</label>
                    <input pInputText [(ngModel)]="preferredName" class="w-full" />
                </div>
                <p-divider></p-divider>
                <div class="flex gap-4">
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="dob">Date of Birth</label>
                        <p-calendar [style]="{'width':'100%'}" [(ngModel)]="dob" appendTo="body"
                            class="w-full flex-grow-1"></p-calendar>
                    </div>
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="gender">Gender</label>
                        <p-dropdown [style]="{'width':'100%'}" id="gender" [options]="['Male', 'Female']"
                            [(ngModel)]="gender" class="w-full"></p-dropdown>
                    </div>
                </div>
                <div class="flex flex-column gap-2 mt-3">
                    <label for="photoUpload">Upload Photo</label>
                    <p-fileUpload name="photo" accept="image/*" maxFileSize="1000000" customUpload="true" (onSelect)="onPhotoSelect($event)" (uploadHandler)="handlePhotoUpload($event)">
                    </p-fileUpload>
                    <div *ngIf="photoPreview" class="mt-3">
                        <label>Photo Preview:</label>
                        <img [src]="photoPreview" alt="Photo Preview" class="w-full"
                            style="max-height: 700px; object-fit: contain;" />
                    </div>
                    <div *ngIf="profilePicture" class="mt-3">
                        <label>Photo Preview:</label>
                        <img [src]="profilePicture" class="w-full"
                            style="max-height: 700px; object-fit: contain;" />
                    </div>
                </div>
                <div class="flex pt-4 justify-content-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="onNextStepper(index)" />
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>

    <!-- step 2: parent registration -->
    <p-stepperPanel header="Parent Information">
        <ng-template pTemplate="content" let-index="index" let-prevCallback="prevCallback">
            <div class="col-9 flex gap-2 flex-column mt-5 w-full">
                <h3 style="color: gray;">Search Registered Parent</h3>
                <div class="flex gap-2">
                    <label for="currentAddressSearch">Search Registered Parent</label>
                    <input pInputText id="currentAddressSearch" [(ngModel)]="currentAddressSearch"
                        placeholder="Seach parent by CID..." class="w-full" />
                    <p-button label="Search" icon="pi pi-search" class="p-button-outlined"
                        (onClick)="searchCurrentAddress()"></p-button>
                </div>
                <p-divider align="center" class="mt-5 mb-5">
                    <b style="color: gray;">OR</b>
                </p-divider>
                <h3 style="color: gray;">Register New Parent</h3>
                <div class="flex gap-2">
                    <div class="w-full">
                        <label for="parentName">Name</label>
                        <input pInputText id="parentName" [(ngModel)]="parentName" class="w-full" />
                    </div>
                    <div class="w-full">
                        <label for="parentEmail">Email</label>
                        <input pInputText id="parentEmail" [(ngModel)]="parentEmail" class="w-full" />
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="w-full">
                        <label for="contact">Contact</label>
                        <input pInputText id="contact" [(ngModel)]="contact" class="w-full" />
                    </div>
                    <div class="w-full">
                        <label for="cid">CID Number</label>
                        <input pInputText id="cid" [(ngModel)]="cid" class="w-full" />
                    </div>
                </div>
                <div class="flex gap-2">
                    <p-button label="Clear" icon="pi pi-times" class="p-button-danger" (onClick)="clearParentForm()" />
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="onNextStepper(index)" />
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>


    <!-- Step 3: Registration Details -->
    <p-stepperPanel header="Registration Details">
        <ng-template pTemplate="content" let-index="index" let-prevCallback="prevCallback">
            <div class="col-9 flex gap-2 flex-column mt-5 w-full">
                <h3 style="color: gray;">Registration Details</h3>
                <div class="flex gap-2">
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="enrollmentDate">Enrollment Date</label>
                        <p-calendar [style]="{'width':'100%'}" id="enrollmentDate" [(ngModel)]="enrollmentDate"
                            dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="selecteFacility">Facility</label>
                        <p-dropdown id="selectedFacility" [style]="{'width':'100%'}" [options]="facilities"
                            optionLabel="name" [(ngModel)]="selectedFacility"
                            (onChange)="getPackagesByFacilityId($event)"
                            aria-placeholder="Select facility"></p-dropdown>
                    </div>
                </div>
                <p-divider></p-divider>
                <h4 style="color: gray;">Subscription Details</h4>
                <div class="flex gap-2">
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="packages">Packages</label>
                        <p-dropdown id="selectedFacility" [style]="{'width':'100%'}" [options]="packages"
                            optionLabel="name" [(ngModel)]="selectedPackage" placeholder="Select Package"></p-dropdown>
                    </div>
                </div>

                <!-- Package Details -->
                <div *ngIf="selectedPackage" class="mt-4">
                    <h4>Package Details</h4>
                    <div class="flex flex-column gap-2">
                        <p><strong>Name:</strong> {{ selectedPackage.name }}</p>
                        <p><strong>Description:</strong> {{ selectedPackage.description }}</p>
                        <p><strong>Price:</strong> {{ selectedPackage.price | currency }}</p>
                        <p><strong>Duration:</strong> {{ selectedPackage.duration }} months</p>
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="start_date">Package Start Date</label>
                        <p-calendar [style]="{'width':'100%'}" id="packageStartDate" [(ngModel)]="packageStartDate"
                            dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                    <div class="flex flex-column gap-2 flex-grow-1">
                        <label for="end_date">Package End Date</label>
                        <p-calendar [style]="{'width':'100%'}" id="packageEndDate" [(ngModel)]="packageEndDate"
                            dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="onNextStepper(index)" />
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>

    <!-- Step 3: Parent Information -->
    <!-- Step 4: Special notes-->
    <p-stepperPanel header="Special notes">
        <ng-template pTemplate="content" let-index="index" let-prevCallback="prevCallback">
            <div class="col-9 flex gap-2 flex-column mt-5 w-full">
                <div class="w-full">
                    <label for="parentName">Medical Contiditons</label>
                    <textarea id="medicalConditions" pInputTextarea [(ngModel)]="medicalConditions"
                        class="w-full"></textarea>
                </div>
                <div class="w-full">
                    <label for="specialInstruction">Special Instructions</label>
                    <textarea id="specialInstructions" pInputTextarea [(ngModel)]="specialInstructions"
                        class="w-full"></textarea>
                </div>
                <div class="w-full">
                    <label for="notes">Notes</label>
                    <textarea id="notes" pInputTextarea [(ngModel)]="notes" class="w-full"></textarea>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                    <button pButton type="button" label="Submit" class="p-button-success"
                        (click)="submitForm()"></button>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>