<nav class="sidebar">
    <h3>Admin Menu</h3>
    <ul>
      <li><a routerLink="/admin/dashboard">Dashboard</a></li>
  
      <li><strong>Users & Roles</strong></li>
      <li><a routerLink="/admin/users">All Users</a></li>
  
      <li><strong>ECCD Centers</strong></li>
      <li><a routerLink="/admin/subscriptions">Subscriptions</a></li>
  
      <li><strong>Analytics</strong></li>
      <li><a routerLink="/admin/analytics">Platform Reports</a></li>
  
      <li><strong>Support</strong></li>
      <li><a routerLink="/support/faq">FAQ</a></li>
      <li><a routerLink="/support/contact">Contact Requests</a></li>
    </ul>
  </nav>
  