<div class="layout-container" [class.mobile]="isMobile">
    <app-facility-sidebar
    [class.mobile]="isMobile"
    [class.open]="sidebarOpen && isMobile"
    *ngIf="!isMobile || sidebarOpen"
    (closeSidebar)="isMobile ? toggleSidebar() : null"
    [selectedFacilityId]="selectedFacilityId"
    ></app-facility-sidebar>

  <main class="main-content">
    <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

    <div class="top-controls">
			<div class="facility-selector" *ngIf="hasMultipleFacilities">
				<label for="facilitySelect">Switch Facility:</label>
				<select #facilitySelect id="facilitySelect" (change)="onFacilitySelect(facilitySelect.value)">
					<option *ngFor="let f of facilities" [value]="f.id">{{ f.name }}</option>
				</select>
			</div>

      <div class="user-profile" (click)="toggleDropdown()" tabindex="0">
        <img [src]="user.avatarUrl" class="avatar" alt="User Avatar" />
        <span class="username">{{ user.name }}</span>

        <div class="dropdown-menu" *ngIf="dropdownOpen">
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>
