// ==============================
// 🌫️ SHADOWS
// ==============================

$card-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
$sidebar-shadow: 5px 0 20px rgba(0, 0, 0, 0.03);
$top-nav-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
$content-wrapper-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
$main-content-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1);
$modal-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
