@import './colors';
// ==============================
// 💬 STATE COLORS
// ==============================

$hover-background: rgba($primary-color, 0.08);
$hover-color: darken($primary-color, 8%);
$focus-color: $primary-color;
$focus-ring: 0 0 0 3px rgba($primary-color, 0.2);
$disabled-color: #c1c7d0;
$disabled-bg: #f3f3f3;
