<div class="facilitator-container">
    <button class="add-button" (click)="openAddModal()">Add Facilitator</button>
  
    <div class="facilitator-list">
      <div class="facilitator-card" *ngFor="let facilitator of facilitators">
        <img [src]="facilitator.imageUrl" alt="{{ facilitator.name }}" class="avatar" />
        <div class="details">
          <h3>{{ facilitator.name }}</h3>
          <p>{{ facilitator.role }}</p>
          <p>{{ facilitator.email }}</p>
          <p>{{ facilitator.phone }}</p>
        </div>
        <div class="actions">
          <button class="btn edit" (click)="openEditModal(facilitator)">Edit</button>
          <button class="btn archive" (click)="archiveFacilitator(facilitator.id)">Archive</button>
        </div>
      </div>
    </div>
  
    <app-facilitator-modal
      *ngIf="showModal"
      [show]="showModal"
      [facilitator]="editingFacilitator"
      (save)="handleSave($event)"
      (close)="showModal = false">
    </app-facilitator-modal>
  </div>