<!-- Flex Row Layout: Left - Survey Details, Right - Sampling Parameters -->
<div class="flex justify-between gap-6 px-6">
	<!-- Left Side: Survey Details -->
	<div class=" ">
		<div class="px-6 pt-6 pb-4">
			<!-- Back Button & Title -->
			<div class="flex items-center justify-between ">
				<button (click)="back()" class="flex items-center font-medium mb-2">
					<i class="pi pi-arrow-left mr-2"></i>
					<span>Back</span>
				</button>
			
			</div>

			<!-- Survey Info -->
			<div class="">
				<div class="flex items-center justify-between">
					<div class="flex items-center justify-between gap-5 mb-2">
						<h1 class="font-bold text-xl leading-tight">
							{{ survey.name }}
						</h1>
						<div class="flex items-center gap-2" *ngIf="canEdit()">
							<p-button
								icon="pi pi-pencil"
								size="small"
								rounded="true"
								(click)="editSurvey()"
								pTooltip="Edit Survey"
							></p-button>
							<p-button
								icon="pi pi-trash"
								size="small"
								rounded="true"
								(click)="deleteSurvey()"
								pTooltip="Delete Survey"
								severity="danger"
							></p-button>
						</div>
					</div>
				</div>
				<p class="text-sm mb-2" *ngIf="survey.description">
					{{ survey.description }}
				</p>
				<div class="flex items-center gap-4 text-sm">
					Duration:
					<div class="flex items-center">
						<i class="pi pi-calendar-plus text-xs mr-1.5"></i>
						<span>{{ survey.startDate | date : "dd/MM/yyyy" }}</span>
					</div>
					<div class="flex items-center">
						<i class="pi pi-calendar-minus text-xs mr-1.5"></i>
						<span>{{ survey.endDate | date : "dd/MM/yyyy" }}</span>
					</div>
				</div>
				<div
				class="inline-flex items-center"
			>
				Survey Status:
				<i
					[class]="
						survey.status === 'ACTIVE'
							? 'pi pi-check-circle text-green-500'
							: 'pi pi-times-circle text-red-500'
					"
					class="text-xs mr-1.5"
				></i>
				<span class="s text-xs font-medium">{{ survey.status }}</span>
			</div>
			</div>
		</div>
	</div>

	<!-- Right Side: Sampling Parameters -->
	<div class=" mt-6">
		<div class="h-full">
			<app-survey-sampling-global-parameters
				[surveyId]="survey.id"
			></app-survey-sampling-global-parameters>
		</div>
	</div>
</div>
