<div class="verify-email">
  <ng-container *ngIf="isVerifying">
    <p>Verifying your email...</p>
  </ng-container>

  <ng-container *ngIf="!isVerifying && success">
    <h2>Email Verified ✅</h2>
    <p>Redirecting to password setup...</p>
  </ng-container>

  <ng-container *ngIf="!isVerifying && !success">
    <h2>Invalid Token</h2>
    <p>This verification link is invalid or expired.</p>
  </ng-container>
</div>

<!-- go to this link http://localhost:4200/auth/verify-email?token=verifyToken in db.json under users -->
<!-- json-server --watch db.json --port 3000 -->
