@import 'src/styles/theme';

.layout-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  padding: $spacing-sm;
  background-color: $background-page;

  &.mobile {
    flex-direction: column;
    padding: 0;
  }
}

.content-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  //background-color: $background-card;
  //border-radius: $border-radius;
  //box-shadow: $content-wrapper-shadow;
}

.main-content {
  flex: 1;
  height: 100%;
  width: auto;
  margin-left: $spacing-sm;
  margin-top: $spacing-sm;
  background-color: $background-content;
  border-radius: $border-radius;
  box-shadow: $main-content-shadow;
  transition: margin-left $transition-duration $transition-ease;
  display: flex;
  flex-direction: column;
  overflow: hidden; // Prevent scrollbars here

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 0;
  }
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-lg;
	margin-right: $spacing-xs;
  scrollbar-gutter: stable;
  border-radius: inherit;

  // Fix WebKit scrollbar eating into radius
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  scrollbar-width: thin; // Firefox
  -ms-overflow-style: thin; // IE
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($black, 0.5);
  z-index: $z-index-sidebar - 1;
}
