<div class="layout-container" [class.mobile]="isMobile">

		<app-sidebar
			*ngIf="!isMobile || sidebarOpen"
			[isMobile]="isMobile"
			[selectedFacilityId]="selectedFacilityId"
			[class.mobile]="isMobile"
			[class.open]="sidebarOpen && isMobile"
			(closeSidebar)="onSidebarClose()"
			[hasMultipleFacilities]="hasMultipleFacilities"
			[facilities]="facilities"
			(facilityChange)="onFacilityChange($event)"
		></app-sidebar>

		<div class="content-body">
			<app-navbar
				[isMobile]="isMobile"
				[user]="user"
				(logoutClick)="logout()"
				(toggleSidebar)="toggleSidebar()"
			></app-navbar>

			<main class="main-content">
				<div class="scroll-container">
					<ng-container *ngIf="facilitiesReady">
						<router-outlet></router-outlet>
					</ng-container>
				</div>
			</main>

		</div>
	<!-- Dark backdrop when sidebar is open on mobile -->
  <div *ngIf="isMobile && sidebarOpen" class="backdrop" (click)="toggleSidebar()"></div>
</div>
