@import 'src/styles/variables';

/* Sidebar Default (Desktop) */
.sidebar {
  position: sticky;
  top: 0;
  width: $sidebar-width;
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  min-height: 100%;
	max-height: 100%;
  background-color: $white;
  z-index: 100;
	border-right: 1px solid $gray-medium;
	box-shadow: $sidebar-shadow;
  
  @media (max-width: 768px) {
    border-radius: 0;
  }

	.brand-container {
		display: flex;
		align-items: center;
		padding: 20px 30px 30px 30px;

    .logo {
      height: 40px;
      width: auto;
      margin-right: 12px;
    }

    .logo-txt {
      font-size: 20px;
      font-weight: bold;
    }
	}


  ul {
    list-style: none;

		li {
			padding: 0 15px;
		}

    li.section-title {
      font-weight: 600;
      font-size: 0.95rem;
      margin: 1.5rem 0.5rem 0.5rem 1.5rem;
      text-transform: uppercase;
    }

		fa-icon {
			padding-right: 0.5rem;
		}

    a {
      display: block;
			align-items: center;
			padding: 14px 20px;
			color: $text-secondary;
			text-decoration: none;
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 8px;
			border-radius: 12px;
      transition: all 0.3s ease;
			border-left: 3px solid transparent;

      &.active {
        background-color: $primary-light;
				color: $primary-color;
        font-weight: 600;
				border-left: 3px solid $primary-color;
      }

      &:hover {
        background-color: $primary-light;
				color: $primary-color;
				transform: translateX(5px);
      }
    }
  }
}

/* Mobile Behavior */
@media (max-width: 768px) {

  .sidebar {
    position: fixed; /* NOT sticky anymore */
    top: $top-nav-height; /* Below top-nav */
  	width: 100%;
    justify-content: center;
		min-height: fit-content;
    background-color: $white;
    overflow-y: auto;
    max-height: 100vh;
    transition: 0.3s ease;
    z-index: 500;
  }

  /* Sidebar Open (Dropdown) */
  .sidebar.open {
    max-height: 500px; /* Adjust based on menu length */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

}


