<div
    class="flex hero flex-column align-items-center justify-content-center"
    style="height: 50dvh; margin: 0; overflow: hidden"
>
</div>
<div>
    <div #centerElement class="p-4" style="z-index: 99">
        <div class="text-center">
            <p class="font-serif text-5xl md:text-6xl text-center">
            </p>
            <img src="assets/logo/logo_no_bg.webp" class="w-2 h-auto" />
        </div>
        <div
            class="flex w-full flex-column p-fluid align-items-center justify-content-center gap-2 mt-4"
        >
            <div class="flex gap-2 my-2">
                <div class="flex align-items-center">
                    <p-button
                        severity=""
                        label=" Login"
                        (click)="login()"
                    ></p-button>
                </div>
                <div class="flex align-items-center">
                    <p-button
                        label="Request for Demo"
                        (click)="showRequestDemoModal = true"
                        severity="secondary"
                    >
                    </p-button>
                </div>
            </div>

            <hr />
        </div>
    </div>
</div>
