.hero-section {
    background-size: cover;
    padding: 100px 20px;
    color: #fff;
    text-align: center;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.features-section h2,
.cta-section h2 {
    text-align: center;
    margin-bottom: 30px;
}
.cta-section {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    margin-top: 30px;
}
.footer h3 {
    margin-bottom: 10px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 5px;
}
button {
    margin-top: 20px;
}

.demo-button {
    display: flex;
    border: none;
    color: #fba494;
    font-size: 1.8rem;
    background-color: #f9e7e4;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}
