<div class="w-6/12 mx-auto mt-10 text-white">
	<h2 class="text-2xl mb-12 font-semibold">Booking Confirmation</h2>

	<div class="grid md:grid-cols-2 gap-8">
		<div class="relative w-full max-w-lg mx-auto md:mx-0 group">
			<img
				[src]="selectedMovie.image"
				[alt]="selectedMovie.title"
				class="w-full h-full object-cover rounded-lg shadow-2xl transform transition-transform duration-300 hover:scale-105"
			/>
		</div>

		<!-- Movie Details Section -->
		<div class="space-y-6">
			<div class="flex items-center gap-4">
				<h1 class="text-4xl font-bold text-white">{{ selectedMovie.title }}</h1>
				<p-chip
					[label]="selectedMovie.rating"
					styleClass="bg-yellow-500 text-gray-900"
				>
				</p-chip>
			</div>

			<p class="text-gray-300 text-lg">{{ selectedMovie.description }}</p>

			<div class="space-y-4">
				<div
					class="flex flex-col md:flex-row items-start md:items-center gap-2 md:gap-6"
				>
					<span class="text-gray-400 uppercase text-sm tracking-wider"
						>Duration</span
					>
					<span class="text-white">{{ selectedMovie.duration }}</span>
				</div>
				<div
					class="flex flex-col md:flex-row items-start md:items-center gap-2 md:gap-6"
				>
					<span class="text-gray-400 uppercase text-sm tracking-wider"
						>Genre</span
					>
					<div class="flex flex-wrap gap-2">
						<p-chip
							*ngFor="let genre of selectedMovie.genre"
							[label]="genre"
							styleClass="bg-purple-500"
						>
						</p-chip>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p-divider class="my-2"></p-divider>

		<div class="p-4">
			<h3 class="text-xl font-semibold mb-3">Selected Seats</h3>
			<div *ngFor="let seat of selectedSeats" class="mb-2 text0whi">
				<p>
					{{ seat.seatNumber }}
				</p>
				<p>
					{{ seat.category }}
				</p>
				<p>
					{{ seat.price }}
				</p>
			</div>
		</div>

		<p-divider class="my-2"></p-divider>

		<div class="p-4 flex justify-between items-center">
			<span class="text-lg font-semibold">Total:</span>
			<span class="text-xl font-bold">Nu.{{ calculateTotal() }}</span>
		</div>

		<p-divider class="my-2"></p-divider>

		<div class="p-4 text-center">
			<button
				pButton
				type="button"
				(click)="showEticket()"
				label="Pay Now"
				class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition"
			></button>
		</div>
	</div>
</div>
