/* You can add global styles to this file, and also import other style files */
@import './styles/theme';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary, $font-secondary, sans-serif;
  font-size: $font-size-md;
  color: $text-primary;
	background-color: $background-page;
}




