<div class="top-nav">
	<button class="sidebar-toggle" (click)="toggleSidebar.emit()"><fa-icon [icon]="icons.faHamburger"></fa-icon></button>


  <div class="user-profile" (click)="toggleDropdown()" tabindex="0">
    <img [src]="user.avatarUrl" class="avatar" alt="User Avatar" />
    <div *ngIf="!isMobile">
      <span class="username">{{ user.name }}</span>
    </div>
    <div class="dropdown-menu" *ngIf="dropdownOpen">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
