<!-- Movie List Section -->
<div class="mt-16 max-w-7xl mx-auto">
	<!-- Movie Grid -->
	<div class="grid grid-cols-4 gap-4 md:gap-6">
		<div
			*ngFor="let movie of filteredMovies"
			class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-1"
		>
			<div class="relative aspect-[2/3] overflow-hidden">
				<div class="absolute top-2 left-2 z-10">
					<span
						class="px-2 py-1 rounded-xl text-xs font-semibold shadow-md flex justify-center items-between"
						[ngClass]="getMovieStatusClass(movie.screeningStatus)"
					>
						<i
							class="pi text-xs mr-1"
							[ngClass]="getMovieStatusIcon(movie.screeningStatus)"
						></i>

						{{
							getMovieStatusText(movie.screeningStatus) === "Screening Now"
								? "Screening Now"
								: getMovieStatusText(movie.screeningStatus) === "Coming Soon"
								? "Cooming Soon"
								: getMovieStatusText(movie.screeningStatus) === "Ended"
								? "Ended"
								: "Cancelled"
						}}
					</span>
				</div>

				<img
					[src]="getMovieImage(movie)"
					[alt]="movie.name"
					class="movie-poster w-full h-full object-cover transition-transform duration-300 hover:scale-105"
				/>

				<button
					*ngIf="movie.trailerURL"
					class="absolute inset-0 m-auto w-12 h-12 border bg-black bg-opacity-60 rounded-full opacity-0 hover:opacity-100 transition-opacity duration-300 flex items-center justify-center group-hover:opacity-100"
				>
					<i class="pi pi-play text-white ml-1"></i>
				</button>
			</div>

			<div class="p-4">
				<h3
					class="text-base sm:text-lg font-semibold text-white mb-2 line-clamp-2 min-h-[3rem] sm:min-h-[3.5rem]"
				>
					{{ movie.name }}
				</h3>

				<div class="flex flex-wrap gap-1 mb-3">
					<span
						*ngFor="let genre of movie.genres?.slice(0, 2)"
						class="px-2 py-1 bg-purple-600 text-white text-xs rounded-full"
					>
						{{ genre.name }}
					</span>
				</div>

				<div class="flex items-center justify-between">
					<div class="text-xs sm:text-sm text-gray-400">
						<div>{{ formatDuration(movie.durationMin) }}</div>
						<div>{{ movie.pgRating }}</div>
					</div>

					<p-button
						[label]="
							getMovieButtonText(movie.screeningStatus) === 'Buy Tickets'
								? 'Buy Tickets'
								: getMovieButtonText(movie.screeningStatus) === 'Coming Soon'
								? 'Cooming Soon'
								: getMovieButtonText(movie.screeningStatus)
						"
						[disabled]="!isMovieBookable(movie.screeningStatus)"
						size="small"
						[styleClass]="
							isMovieBookable(movie.screeningStatus)
								? 'p-button-sm'
								: 'p-button-sm p-button-secondary opacity-75'
						"
					></p-button>
				</div>
			</div>
		</div>
	</div>
</div>
