<div class="facility-container">
<button pButton type="button" class="p-button p-button-rounded p-button-success" icon="pi pi-plus" label="Add Facility" (click)="openAddFacilityModal()"></button>

  <p-table [value]="facilities" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Current Capacity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-facility let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ facility.name }}</td>
        <td>{{ facility.description}}</td>
        <td>{{ facility.address }}</td>
        <td>{{ facility.contact }}</td>
        <td>{{ facility.capacity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Add Facility Modal -->
<div class="modal" *ngIf="isAddFacilityModalOpen">
  <div class="modal-content">
    <h2>Add Facility</h2>
    <form (ngSubmit)="addFacility()">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="newFacility.name" name="name" required />

      <label for="address">Address:</label>
      <input id="address" [(ngModel)]="newFacility.address" name="address" required />

      <label for="contact">Contact:</label>
      <input id="contact" [(ngModel)]="newFacility.contact" name="contact" required />

      <label for="currentCapacity">Current Capacity:</label>
      <input id="currentCapacity" [(ngModel)]="newFacility.currentCapacity" name="currentCapacity" required />

      <button type="submit">Add</button>
      <button type="button" (click)="closeAddFacilityModal()">Cancel</button>
    </form>
  </div>
</div>